Source: bluetooth-firmware-bcm
Section: devel
Priority: optional
Maintainer: DoHyun Pyun <dh79.pyun@samsung.com>, ChanYeol Park <chanyeol.park@samsung.com>, Girish A J <girish.joshi@samsung.com>, Jaekyun Lee <jkyun.lee@samsung.com>
Uploaders: Sunil Behera <sunil.behera@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libvconf-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: bluetooth-firmware-bcm-c210
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, bluetooth-tools
Conflicts: bluetooth-firmware-bcm-e4412
Breaks: bluetooth-firmware-bcm-e4412
Replaces: bluetooth-firmware-bcm-e4412
Description: firmware and tools for C210 devices
 firmware and tools for C210 devices

Package: bluetooth-firmware-bcm-e4412
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, bluetooth-tools
Conflicts: bluetooth-firmware-bcm-c210
Breaks: bluetooth-firmware-bcm0-c210
Replaces: bluetooth-firmware-bcm0-c210
Description: firmware and tools for e4412 devices
 firmware and tools for e4412 devices

Package: bluetooth-firmware-bcm-c210-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluetooth-firmware-bcm-c210 (= ${Source-Version})
Description: Tools for bluetooth-firmware-bcm (unstripped)
 The package contains detached debugging symbols for the binary packages
 produced by the bluetooth-firmware-bcm soruce.

Package: bluetooth-firmware-bcm-e4412-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluetooth-firmware-bcm-e4412 (= ${Source-Version})
Description: Tools for bluetooth-firmware-bcm (unstripped)
 The package contains detached debugging symbols for the binary packages
 produced by the bluetooth-firmware-bcm soruce.
